
services:
  django:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: pharmacy_local_django
    container_name: pharmacy_local_django
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app:z
    env_file:
      - .env
    environment:
      - pb=${pb:-default_value}
    ports:
      - "8002:8000"
    command: /start
    restart: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  postgres:
    image: postgres:16.4-alpine3.20
    container_name: pharmacy_local_postgres
    volumes:
      - pharmacy_local_postgres_data:/var/lib/postgresql/data
      - pharmacy_local_postgres_data_backups:/backups
    env_file:
      - .env
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5433:5432"
    restart: on-failure
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:8.0-alpine
    container_name: pharmacy_local_redis
    volumes:
      - pharmacy_local_redis_data:/data
    command: redis-server --appendonly yes  # Enable persistence
    restart: on-failure
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  pharmacy_local_postgres_data:
  pharmacy_local_postgres_data_backups:
  pharmacy_local_redis_data: